% if (defined?(_o))
% c = Page.new(_o.article_path).dom()
<div class="article_preview">
  <h3><%= c.doctitle %></h3>
  <hr/>
  <p>
    author: <i><%= c.author %></i>
  </p>
  <a href="<%= subdext(["pages",""],".html",c.path) %>">
    [ read more ]
  </a>
</div>
% else
<p>
  <b>(article_preview) article not defined !</b>
</p>
% end
