% if (defined?(_o))
% # creating problem on the page altering the current dom
% c = Page.new(_o.article_path).dom()
<div class="article_preview">
  <h3><%= c.doctitle %></h3>
  <hr/>
  <p>
    author: <i><%= c.author %></i>
  </p>
  <!-- targetting on the _o object is so fucking bad ! -->
  <!-- need to fix -->
  <a href="<%= _o.article_path.sub("pages/", "").sub(/\.\w*/, ".html") %>">
    [ read more ]
  </a>
</div>
% else
<p>
  <b>(article_preview) article not defined !</b>
</p>
% end
