% @dom[:layout] = "default"
% @dom[:title]  = "th3 sUpR Index !"
<h1>This is my blog !</h1>
% articles = Dir.glob("pages/articles/**/*.adoc")
% articles.each do |article|
<%= partial("article_preview", article) %>
% end
